{% extends "layout.html" %}
{% block content %}

<form method="POST" action="/operabass">

    <div class="mb-3">
        <label>Número 1:</label>
        <input type="number" class="form-control" name="n1" >
    </div>

    <div class="mb-3">
        <label>Número 2:</label>
        <input type="number" class="form-control" name="n2" >
    </div>

    <label>Seleccione la operación:</label>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="opera" value="suma" checked>
        <label class="form-check-label">Suma</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="opera" value="resta">
        <label class="form-check-label">Resta</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="opera" value="multip">
        <label class="form-check-label">Multiplicación</label>
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" type="radio" name="opera" value="division">
        <label class="form-check-label">División</label>
    </div>

    <button type="submit" class="btn btn-primary">Calcular</button>
</form>

{% if res is not none %}
    <h2 class="mt-4">
        Resultado de {{ operacion }} entre {{ n1 }} y {{ n2 }}:
        {{ "%.2f"|format(res) }}
    </h2>
{% endif %}

{% endblock %}
